body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(243, 243, 243);
}

html {
	width: 100%;
	height: 100%;
}

.flex {
	display: flex;
}

.calc-container {
	width: 248px;
	height: 350px;
	margin: 100px auto;
	border-radius: 10px;
}

.calc-display {
	height: 70px;
	background: rgb(58, 58, 58);
	color: white;
	font-size: 50px;
	text-align: right;
	padding: 0 10px 0 10px;
}

.calc-numpad {
	display: flex;
	flex-wrap: wrap;
}

.calc-button {
	display: flex;
	width: 62px;
	height: 62px;
	border: none;
	border-bottom: 1px solid rgb(90, 90, 90);
	outline: none;
	font-size: 40px;
	text-align: center;
}
.calc-button:active {
	background: rgb(233, 233, 233);
}

.calc-functional-buttons {
	display: flex;
	flex-direction: column;
}
.calc-functional-buttons .calc-button {
	background: orange;
	color: white;
}
.calc-functional-buttons .calc-button:active {
	background: rgb(255, 196, 87);
}
.calc-current-operation {
	background: rgb(255, 124, 36) !important;
}